<html>
    <head>
      {{>headerLink}}
    </head>
    <body>
        {{>navbar}}

        <!---Start Main section----> 
        <div class="container-fluid main_header">
            <div class ="row">
                 <div class="col-md-10 col-12 mx-auto">
                    <div class="row">                        
                        <!---Left Side Div----> 
                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                              <img src="images/prashant/img3.jpg" alt="Image1" class="img-fluid" title="Iamge1">
                            </figure>
                         </div>                       
                       <!---Right Side Div---->
                       <div class="col-md-6 col-12 main_header_left">
                            <h1>Prashant Ranjan Singh <span class="text_clr">Senior Web Developer</span></h1>
                            <p>Professional and dedicated web developer with experience in managing effective teams.seeking to lead a strong team of developers while maximizing profits for a successful company. Skilled in achieving tangible result and cross-team collaboration. Proactive and excited to partner with like-minded individuals to achieve gaols.</p>
                       </div>                       
                    </div>
                 </div>
            </div>
        </div>
        <!---End Main section----> 

        {{>footer}}
    </body>
</html>